.DS_Store
.ipynb_checkpoints
*.pyc
__pycache__
*.egg-info
build/*
dist/*
*~
.cache
.coverage
checkpoint
htmlcov
mnist
/notebooks/3_NeuralNetworks/summary_logs_alexnet/*.WKWIN1466718
/notebooks/3_NeuralNetworks/summary_logs_convnet/*.WKWIN1466718
